.todoapp{
     background-color: bisque;
}

.todo-card{
     .buttons{
          display: flex;
          gap: 3rem;

          span{
               cursor: pointer;
               &:first-child{
                    color: rgb(73, 128, 0);
               }

               &:last-child{
                    color: rgb(162, 0, 255);
               }
          }
     }
}